# Ignore build files
build/
# Ignore compiled files
# TODO: add if needed
*.o
# Ignore compressed files
*.tar.gz
# Executáveis da Lua
luac
lua
# Arquivos invisíveis
!.gitignore
.*
# Zedstate (editor)
.zedstate
